header {
    /*position: sticky;
    top: 0;*/
}

header nav {
    display:flex;
    align-items: center;
    justify-content:space-around;
    background: #85CDF5;
    width: 100%;
    max-width: 1400px;
    height: 120px;
}

a {
    color: #333333;
    font-size: 30px;
    font-weight: 700;
    margin: auto;
    text-decoration: none;
}

a::after {
    display: block;
    content: "";
    width: 0px;
    height: 5px;
    background-color: #333;
}

.left-right:hover::after {
    width: 100%;
    transition: width 1s ease;
    float: left;
}

.right-left:hover::after {
    width: 100%;
    transition: width 1s ease;
    float: right;
}

.group-3 {
    margin: auto;
}

.first-section {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px; 
    margin: auto; 
}

.first-section::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-image: url(../img/lobo1.png);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    filter: brightness(50%);
    top: 0;
    left: 0;
    z-index: -1;
}

h1 {
    color: #FFF;
    font-size: 96px;
    font-weight: 700;
    line-height: 140px;
    text-align: center;
}

.p-section {
    color: #FFF;
    font-size: 30px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
}

.second-section {
    background: #2C5680;
    width: 100%;
    height: 333px;
}

h2 {
    color: #DEB959;
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    text-align: center;
}

.section-third {
    background: #333;
    width: 100%;
    height: 625px;
    line-height: 1.2;
}

.section-third img {
    background-color: #FFF;
    border-radius: 100%;
    width: 140px;
    margin: auto;
}
.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFF;
}

.cards-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 140px;
    margin: 20px;
}

.cards-1 h3 {
    font-size: 34px;
    line-height: 3;
}

.fourth-section {
    margin: 20px 60px;
}

footer {
    background-color: #333;
    width: 100%;
    border-top: 4px solid #2C5680;
}

footer .rodape {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #FFF;
    font-size: 10px;
}

.map {
    padding: .6rem;
}

.endereco {
    width: 300px;
    padding: .6rem;
    margin: .6rem;
    line-height: 2;
}

.endereco p i{
    margin: 5px;
}

.rodape p {
    font-size: 18px;
}

.logo {
    padding: .6rem;
}

button {
    background: #DEB959;
}